*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
}
.table{
    font-size:0.9em;
    color: gray;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-collapse: collapse;
}
.table tr>td{
    border-bottom:1px solid gray ;
    padding: 7px;
}
.bt{
    font-size:0.9em;
    padding:5px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
}
.bt:hover{
    opacity: 0.5;
    cursor: pointer;
}