* {
	margin: 0 auto;
	padding: 0px;
	list-style: none;
	font-family: "맑은 고딕";
}

a {
	text-decoration: none;
	color: inherit;
}

header {
	width: 100%;
	height: 110px;
}

.logo {
	width: 100px;
	height: 110px;
}

.logo>a>img {
	width: 100%;
	height: 100px;
}

nav {
	width: 100%;
	height: 50px;
	background-color: gold;
	color: black;
	text-align: center;
}

.menu {
	width: 1000px;
}

.menu>li {
	width: 333px;
	margin-top: 7px;
	text-align: center;
	float: left;
	position: relative;
	padding: 7px 0;
	transition: all 0.4s;
}

.menu>li :hover {
	cursor: pointer;
	color: white;
}

.submenu {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 99;
	display: none;
	position: absolute;
}

.submenu>li {
	width: 100px;
	transition: all 0.4s;
	color: black;
}

.submenu>li:hover {
	background-color: #4298cc;
	color: black;
}

#imgslide {
	width: 100%;
	height: 500px;
	background-color: white;
	position: relative;
}

.imgs {
	width: 1000px;
	height: 350px;
	margin-top: 0px;
	position: relative;
	overflow: hidden;
	padding: 50px 0;
}

.imgs img {
	width: 100%;
	height: 100%;
	position: absolute;
	transition: all 1.8s;
}

.welcome {
	width: 500px;
	height: 50px;
	position: absolute;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.5);
	color: #893700;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 45px;
	top: 180px;
	left: 50%;
	transform: translateX(-50%);
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
}

#content {
	width: 1000px;
	min-height: 550px;
}

.notice, .partner {
	width: 500px;
	text-align: center;
	float: left;
	margin-top: 50px;
}

.clear {
	clear: both;
}

.title {
	font-size: 1.2em;
	font-weight: bold;
	color: #893700;
	margin-bottom: 10px;
}

.table1 {
	width: 459px;
	font-size: 0.9em;
	color: #666;
	border-collapse: collapse;
	border-top: 2px solid #4298cc;
	border-bottom: 2px solid #4298cc;
}

.table1 tr>th {
	border-bottom: 1px solid #4298cc;
	padding: 5px;
}

.table1 tr>td {
	border-bottom: 1px solid #4298cc;
	padding: 5px;
}

.table1 tr:nth-child(2n) {
	background-color: #eee;
}

.bg {
	width: 500px;
	float: left;
	text-align: center;
}

.bg>img {
	width: 90%;
}

.icons {
	width: 500px;
	float: left;
	text-align: center;
}

.imgbtn {
	border: 1px solid black;
	width: 130px;
	height: 110px;
	border: 1px solid #ccc;
	display: inline-block;
	margin-top: 30px;
	text-align: center;
	padding: 10px 0;
}

.imgbtn>img {
	width: 100px;
	display: inline-block;
}

.bt {
	width: 90px;
	font-size: 14px;
	background-color: aquamarine;
	border-radius: 5px;
}

.bt:hover {
	cursor: pointer;
	background-color: beige;
	color: black;
}

footer {
	width: 100%;
	height: 150px;
	background-color: gray;
	text-align: center;
}

.foot_left {
	width: 500px;
	color: #18609c;
	font-size: 1.0em;
	font-weight: bold;
	margin-top: 50px;
	float: left;
}

.foot_right {
	width: 500px;
	color: #18609c;
	font-size: 1.03m;
	font-weight: bold;
	text-align: left;
	float: left;
}